
td.diff-section-title, div.diff-section-title {
  background-color: #d4ebfa;
}
td.diff-deletedline {
  background-color: #ffd;
  width: 50%;
}
td.diff-addedline {
  background-color: #dfd;
  width: 50%;
}
td.diff-context {
  background-color: #f0f0f0;
}
span.diffchange {
  color: #c00;
}

table.diff th, table.diff tbody {
  border: none;
}
